<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Michael & Franziska's Wedding RSVP</title>
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../Static/blogpost.css" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <div class="left-side">
            <a id="home-ref" href="../index.html">Home</a>
            <a id="rsvp-ref" href="../Templates/rsvp.html">RSVP</a>
            </div>
            <div class="right-side">
            <a id="blogpost-ref" href="../Templates/blogpost.html">Blog</a>
            </div>
        </nav>
        <div class="blog-title">
            <h1>Our First Blog!</h1>
        </div>
        <div class="michael-info">
            <h3><strong>Michael</strong></h3>
            <p>Currently An Engineer</p>
            <p>Employed at AST</p>
            <h4><u>About Me:</u></h4>
            <p><em>Thinking is my passions and I try to think outside of the box.</em></p>
            <img src="../Static/Images/mike-avatar.jpg" alt="Avatar" class="mike-avatar">
        </div>
        <div class="franzi-info">
            <h3><strong>Franzi</strong></h3>
            <p>Currently A Student</p>
            <p>Attending University</p>
            <h4><u>About Me:</u></h4>
            <p><em>Love everything German not to mention Ice Cream</em></p>
            <img src="../Static/Images/franzi-avatar.jpg" alt="Avatar" class="franzi-avatar">
        </div>
        <section class="blog1-post">
            <h2>Title 1 Heading</h2>
            <p><u>Title Description 1</u></p>
            <img src="../Static/Images/weddingVenue.jpeg"/>
            <p><strong>Some Text</strong></p>
            <p>
                <q>kldkfdkl dlkfj dljfkdk dlfkjdf dfk dfkl dflk<br/>
                kklddkdkfdlfdjkfdjfldfjdlkjfldkjfdlkjf ldkfd<br/>
                kdldldldldldld fkdjfkdlj dlfkjdlfap dlfkpldf</q>
            </p>
        </section>
        <section class="blog2-post">
            <h2>Title 2 Heading</h2>
            <p><u>Title Description 2</u></p>
            <img src="../Static/Images/weddingVenue.jpeg"/>
            <p><em>Some Text</em></p>
            <p>
                <q>kldkfdkl dlkfj dljfkdk dlfkjdf dfk dfkl dflk<br/>
                kklddkdkfdlfdjkfdjfldfjdlkjfldkjfdlkjf ldkfd<br/>
                kdldldldldldld fkdjfkdlj dlfkjdlfap dlfkpldf</q>
            </p>
        </section>
        <footer class="share">
            <div class="facebook-share"></div>
                <a href="https://facebook.com/" target="_blank">
                    <i class="fab fa-facebook-square fa-2x"></i>
                </a>
                <a href="https://linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter-square fa-2x"></i>
                </a>
        </footer>
    </div>
</body>
</html>